<%= form_with model: @user, url: sign_up_path, data: { turbo: false }, local: true do |form| %>

    <%= render "shared/form_errors", form: form %>

    <div class="col-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
        <div class="container card px-0">
            <div class="card-header text-center">
                <h2>Sign-up to Schedule Tweets!</h2>
            </div>
            <div class="card-body px-5">
                <div class="form-floating">
                    <%= form.text_field :email, id:"floatingInput", class: "form-control", placeholder: "email@email.com", type: "email" %>
                    <%= form.label :email, "Email:", for:"floatingInput" %>
                </div>
                <div class="form-floating my-3">
                    <%= form.password_field :password, id:"floatingInput", class: "form-control", placeholder: "password", type:"password" %>
                    <%= form.label :password, "Password:", for:"floatingPassword" %>
                </div>
                <div class="form-floating">
                    <%= form.password_field :password_confirmation, id:"floatingInput", class: "form-control", placeholder: "password", type:"password" %>
                    <%= form.label :password_confirmation, "Repeat password:", for:"floatingPassword" %>
                </div>
                <div class="d-grid mt-4">
                    <%= form.submit "Register", class: "btn btn-primary customHover" %>
                </div>
            </div>
        </div>
    </div>
<% end %>