<%= form_with model: @user, url: sign_up_path, data: { turbo: false }, local: true do |form| %>

    <%= render "shared/form_errors", form: form %>

    <div class="row col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="container card px-0 text-center">
            <div class="card-header">
                <h2>Sign-up to Schedule Tweets!</h2>
            </div>
            <div class="card-body">
                <div class="my-2 row">
                    <%= form.label :email, "Email:", class: "form-label col-3 text-start my-1" %>
                    <div class="col">
                        <%= form.text_field :email, class: "form-control", placeholder: "email@email.com" %>
                    </div>
                </div>
                <div class="my-4 row">
                    <%= form.label :password, "Password:", class: "form-label col-3 text-start my-1" %>
                    <div class="col">
                        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
                    </div>
                </div>
                <div class="my-4 row">
                    <%= form.label :password_confirmation, "Repeat password:", class: "form-label col-3 text-start my-1" %>
                    <div class="col">
                        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <%= form.submit "Register", class: "btn btn-primary customHover" %>
                </div>
            </div>
        </div>
    </div>
<% end %>