<%= form_with model: @user, url: sign_up_path, data: { turbo: false }, local: true do |form| %>

    <%= render "shared/form_errors", form: form %>

    <div class="container card w-50 px-0">
        <div class="card-header">
            <h1 class="px-0">Sign-up to Schedule Tweets!</h1>
        </div>
        <div class="card-body px-0 mx-auto">
            <h5 class="card-title">Please fill the fields below to create your account:</h5>
            <div class="my-4 row ">
                <%= form.label :Email, class: "form-label col-3 text-start" %>
                <div class="col">
                    <%= form.text_field :email, class: "form-control", placeholder: "password" %>
                </div>
            </div>
            <div class="my-4 row ">
                <%= form.label :password, class: "form-label col-3 text-start" %>
                <div class="col">
                    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
                </div>
            </div>
            <div class="mt-4 mb-3 row ">
                <%= form.label :password_confirmation, class: "form-label col-3 text-start" %>
                <div class="col">
                    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
                </div>
            </div>
            <div>
                <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>