<%= form_with model: @user, url: sign_up_path, data: { turbo: false }, local: true do |form| %>

    <%= render "shared/form_errors", form: form %>

    <div class="container card w-50 px-0">
        <div class="card-header">
            <h1 class="px-0">Sign-up to Schedule Tweets!</h1>
        </div>
        <div class="card-body px-0">
            <h5 class="card-title">Please fill the fields below to create your account:</h5>
            <div class="my-4 row justify-content-center">
                <%= form.label :Email, class: "form-label col-3 text-start my-2" %>
                <div class="col-8">
                    <%= form.text_field :email, class: "form-control col", placeholder: "password" %>
                </div>
            </div>
            <div class="my-4 row justify-content-center">
                <%= form.label :password, class: "form-label col-3 text-start my-2" %>
                <div class="col-8">
                    <%= form.password_field :password, class: "form-control col", placeholder: "password" %>
                </div>
            </div>
            <div class="mt-4 mb-3 row justify-content-center">
                <%= form.label :password_confirmation, class: "form-label col-3 text-start my-2" %>
                <div class="col-8">
                    <%= form.password_field :password_confirmation, class: "form-control col", placeholder: "password" %>
                </div>
            </div>
            <div>
                <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>