<div class="mb-3 card card-body">
    <div class="d-flex align-items-center">
        <div>
            <%= image_tag tweet.twitter_account.image, class: "rounded-circle border border-2 border-primary p-1 border-opacity-50" %>
        </div>
        <div class="d-flex align-items-start flex-column ms-2">
            <%= link_to "@#{tweet.twitter_account.username}:", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank, id: "customAnchor" %>
            <div>
                <span class="fst-italic text-black-50">"<%= tweet.body %>"</span>
            </div>
        </div>
        <div class="ms-3">
            <% if tweet.published? %>
                <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", class:"text-decoration-none", target: :_blank %>
            <% else %>
                <span><i class="bi bi-arrow-right"></i> Scheduled for <%= l tweet.publish_at, format: :short %></span>
                <%= link_to "Edit Tweet", edit_tweet_path(tweet) %>
            <% end %>
        </div>
    </div>
</div>