<div class="tweets-card card card-body mb-3">
    <div class="d-flex align-items-center">
        <% if tweet.published? %>
            <%= image_tag tweet.twitter_account.image, class: "rounded-circle border border-2 border-primary p-1 border-opacity-50 me-3" %>
            <div class="tweet-info d-flex align-items-start flex-column me-3">
                <%= link_to "@#{tweet.twitter_account.username}:", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank, class: "custom-anchor" %>
                <div>
                    <span class="tweet-body d-block fst-italic text-black-50 text-break">"<%= tweet.body %>"</span>
                    <span>
                        (<%= l tweet.publish_at, format: :short, class:"fst-italic" %>)
                    </span>
                    <%= link_to '<i class="bi bi-trash"></i>'.html_safe, tweet, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "" %>
                </div>
            </div>
            <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", class:"view-tweet text-decoration-none ms-auto", target: :_blank %>
        <% else %>
            <%= image_tag tweet.twitter_account.image, class: "rounded-circle border border-2 border-primary p-1 border-opacity-50 me-3" %>
            <div class="d-flex align-items-start flex-column me-3">
                <%= link_to "@#{tweet.twitter_account.username}:", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank, class: "custom-anchor" %>
                <div class="ScheduledTweet">
                    <span class="tweet-body fst-italic text-black-50 text-break">"<%= tweet.body %>"</span>
                    <%= link_to edit_tweet_path(tweet), class: "text-decoration-none" do %>
                        <i class="bi bi-pencil">edit</i>
                    <% end %>
                </div>
            </div>
            <span class="ms-auto">
                Scheduled for <%= l tweet.publish_at, format: :short %>
            </span>
        <% end %>
    </div>
</div>