<h1 class="py-3">Log-in to Schedule Tweets!</h1>

<%= form_with url: log_in_path do |form| %>

    <div class="container w-50">
        <div class="mb-3 row justify-content-center">
            <%= form.label :"email:", class: "form-label col-1 text-start w-25" %>
            <div class="col-6">
                <%= form.text_field :email, class: "form-control col", placeholder: "email@mail.com" %>
            </div>
        </div>

        <div class="mb-3 row justify-content-center">
            <%= form.label :"password:", class: "form-label col-1 text-start w-25" %>
            <div class="col-6">
                <%= form.password_field :password, class: "form-control col", placeholder: "Password1948" %>
                <%= link_to "Forgot your password?", password_reset_path %>
            </div>
        </div>
    </div>
    <div>
        <%= form.submit "Log in", class: "btn btn-primary" %>
    </div>
<% end %>