<%= form_with url: log_in_path do |form| %>
    <div class="col-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
        <div class="container-fluid card px-0">
            <div class="card-header text-center">
                <h2>Log-in to Schedule Tweets!</h2>
            </div>
            <div class="card-body px-5">
                <div class="form-floating">
                    <%= form.text_field :email, class: "form-control", placeholder: "email@mail.com", type:"email" %>
                    <%= form.label :email, "Email", for:"floating-input" %>
                </div>
                <div class="form-floating my-3">
                    <%= form.password_field :password, class: "form-control", placeholder: "password", type:"password" %>
                    <%= form.label :password, "Password", for:"floating-password" %>
                    <%= link_to "Forgot your password?", password_reset_path, class: "d-flex justify-content-end my-2" %>
                </div>
                <div class="d-grid">
                    <%= form.submit "Log in", class: "btn btn-primary button-hover" %>
                </div> 
            </div>           
        </div>
    </div>
<% end %>