<!-- Navbar -->
<nav class="navbar navbar-expand-lg border-bottom border-dark border-1">
    <div class="container-fluid" role="navigation">

        <!-- Navbar Title -->
        <div class="navbar-header" role="navigation">
            <%= link_to tweets_path, class:"navbar-brand h1 me-3 linkHover" do %>
                <span class="border-bottom">Tweets</span>
                <i class="bi bi-twitter text-white ms-1"></i>
            <% end %>
        </div>

        <!-- Dropdown Navbar Content -->
            <!-- Navbar Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Navbar Links -->
            <ul class="nav navbar-nav navbar-left large-navbar-items">
                <hr class="d-lg-none border-white my-1 w-25">
                <div class="vr d-none d-lg-block "></div>
                <li class= "nav-item" id="home">
                    <%= link_to "Home", root_path, class:"nav-link linkHover"%>
                </li>
                <div class="vr d-none d-lg-block "></div>
                <li class= "nav-item" id="about">
                    <%= link_to "About", about_path, class:"nav-link linkHover"%>
                </li>
                <div class="vr d-none d-lg-block "></div>
                <li class= "nav-item" id="twitterAccounts">
                    <%= link_to "Twitter Accounts", twitter_accounts_path, class:"nav-link linkHover"%>
                </li>
            </ul>

            <!-- Navbar Session Interactions -->
            <ul class="nav navbar-nav ms-auto">
                <% if Current.user %>

                    <div class="d-none d-lg-flex">
                        <li class="nav-item">
                            <%= link_to "Edit Password", password_path, class:"nav-link buttonHover border rounded-pill" %>
                        </li>
                        <div class="vr d-none d-lg-block mx-2 p-0"></div>
                        <li class="nav-item">
                            <%= button_to "Logout", logout_path, method: :delete, class:"btn btn-outline-light customBorder buttonHover border rounded-pill" %>
                        </li>
                    </div>

                    <div class="row d-lg-none mt-3">
                        <div class="col d-lg-none text-center">
                            <li class="nav-item">
                                <%= link_to "Edit Password", password_path, class:"nav-link buttonHover border rounded-pill" %>
                            </li>
                        </div>
                        <div class="vr d-none d-lg-block mx-2 p-0"></div>
                        <div class="col d-lg-none text-center">
                            <li class="nav-item">
                                <%= button_to "Logout", logout_path, method: :delete, class:"btn btn-outline-light buttonHover border rounded-pill" %>
                            </li>
                        </div>
                    </div>

                <% else %>
                    <div class="d-none d-lg-flex">
                        <li class="nav-item">
                            <%= link_to "Sign up", sign_up_path, class:"nav-link buttonHover border rounded-pill" %>
                        </li>
                        <div class="vr d-none d-lg-block mx-2 p-0"></div>
                        <li class="nav-item">
                            <%= link_to "Log in", log_in_path, class:"nav-link buttonHover border rounded-pill" %>
                        </li>
                    </div>
                    <div class="row d-lg-none mt-3">
                        <div class="col d-lg-none text-center">
                            <li class="nav-item">
                                <%= link_to "Sign up", sign_up_path, class:"nav-link buttonHover border rounded-pill" %>
                            </li>
                        </div>
                        <div class="col d-lg-none text-center">
                            <li class="nav-item">
                                <%= link_to "Log in", log_in_path, class:"nav-link buttonHover border rounded-pill" %>
                            </li>
                        </div>
                    </div>
                <% end %>
            </ul>
        </div>
    </div>
</nav>