<%= form_with model: Current.user, url: edit_password_path do |form| %>
    <%= render "shared/form_errors", form: form %>
    
    <div class="container card px-0 text-center" style="width: 32.5%">
        <div class="card-header">
            <h1 class="px-0">Edit password</h1>
        </div>
        <div class="card-body w-100 mx-auto">
            <h5 class="card-title">Fill the fields below to change your password:</h5>
            <div class="my-4 row">
                <%= form.label :password, "Password:", class: "form-label col-3 text-start my-1" %>
                <div class="col d-flex align-items-center">
                    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
                </div>
            </div>
            <div class="my-4 row">
                <%= form.label :repeat_password, "Repeat Password:", class: "form-label col-3 text-start my-1" %>
                <div class="col d-flex align-items-center">
                    <%= form.password_field :repeat_password, class: "form-control", placeholder: "password" %>
                </div>
            </div>
            <div class="d-grid gap-2">
                <%= form.submit "Update Password", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>