<%= form_with model: Current.user, url: edit_password_path do |form| %>
    <%= render "shared/form_errors", form: form %>
    
    <div class="col-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
        <div class="container card px-0">
            <div class="card-header text-center">
                <h1 class="px-0">Edit password</h1>
            </div>
            <div class="card-body px-5">
                <h5 class="card-title text-center mb-3">Fill the fields below to change your password:</h5>
                <div class="form-floating">
                    <%= form.password_field :password, class: "form-control", placeholder: "password", type:"password" %>
                    <%= form.label :password, "Password:", for:"floatingPassword" %>
                </div>
                <div class="form-floating my-3">
                    <%= form.password_field :repeat_password, class: "form-control", placeholder: "password", type:"password" %>
                    <%= form.label :repeat_password, "Repeat Password:", for:"floatingPassword" %>
                </div>
                <div class="d-grid">
                    <%= form.submit "Update Password", class: "btn btn-primary button-hover" %>
                </div>
            </div>
        </div>
    </div>
<% end %>