<h1 class="py-3">Edit password</h1>

<%= form_with model: Current.user, url: password_path do |form| %>
    <%= render "shared/form_errors", form: form %>
    
    <div class="container w-50 card card-body ">
        <div class="my-3 row justify-content-center">
            <%= form.label :password, class: "form-label col-1 text-start w-25" %>
            <div class="col-6">
                <%= form.password_field :password, class: "form-control col", placeholder: "password" %>
            </div>
        </div>
        <div class="my-3 row justify-content-center">
            <%= form.label :password_confirmation, class: "form-label col-1 text-start w-25" %>
            <div class="col-6">
                <%= form.password_field :password_confirmation, class: "form-control col", placeholder: "password" %>
            </div>
        </div>
        <div>
            <%= form.submit "Update Password", class: "btn btn-primary mb-3" %>
        </div>
    </div>

<% end %>